*{
    padding:0px;
    margin:0px;
}
* {
    padding: 0;
    margin: 0;
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
  }
#first_btn{
    width:95%;
  
    margin:auto;
    margin-top: 60px;;
}
#btn1{
    border: 1px solid transparent;
    background-color: white;
    margin-left: px;
    font-size: 15px;
    cursor: pointer;
}
#btn2{
    border: 1px solid transparent;
    background-color: white;
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
}
#first_btn+hr{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 0.5px;
    background-color: grey;
}
#cont1{
    
    width:95%;
    margin:auto;
    /* border:1px solid green; */
    margin-top: 30px;
}
#tab1{
width:100%;
grid-template-columns: repeat(4,1fr);
gap:10px;
display:grid;
}
#tab1>div{
    /* border:1px solid red; */
    padding:10px;


}
#tab1>div>a{
    text-decoration: none;
   color:rgb(154, 152, 152)
}
#tab1>div>a>p:first-child{
    text-decoration: none;
   color:black;
}

#tab1 p:first-child:hover{
    color:rgb(89, 208, 255)
}
#tab1 p:hover{
text-decoration: underline;
}


#cont2{
    /* border:1px solid red; */
    display: flex;
    width:95%;
    margin:auto;
    margin-top:20px;

  
}
#cont2 p{
    padding:5px;
    color:rgb(154, 152, 152)
}
#cont2>a{
    text-decoration: none;
     color:rgb(154, 152, 152)
}
hr{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 0px;
    background-color: grey;
}
#container{
    /* border:1px solid red; */
    width:95%;
    margin:auto;
    margin-top:30px;
display: flex;

gap:40px;
box-sizing: border-box;
overflow: scroll;
overflow: hidden;


}
#container>a> div{
    width:100%;
    /* border:1px solid red; */
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

   height:450px;
}
#container a{
text-decoration: none;
}
#container a:hover{
    text-decoration: underline;
    
}
#container img{
width:300px;

    
   
    
}
#container p{
    padding:5px;
}
#head{
    /* border:1px solid red; */
    width:95%;
    margin:auto;
    margin-top:30px;
}
#container button{
    position:absolute;
   scroll-behavior: smooth;
    padding:5px;
    top:1000px;
    color:grey;
    font-size:30px;
    cursor: pointer; 
    border: transparent;
    background-color: transparent
   
}
#container button:nth-child(1){
    left:0px;
}
#container button:nth-child(2){
    right:0px;
}
/* Top rated homes container2 */



#container2{
    /* border:1px solid red; */
    width:95%;
    margin:auto;
    margin-top:30px;
display: flex;

gap:40px;
box-sizing: border-box;
overflow: scroll;
overflow: hidden;


}
#container2>a> div{
    width:100%;
    /* border:1px solid red; */
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
height:350px;

}
#container2 a{
text-decoration: none;
}
#container2 a:hover{
    text-decoration: underline;
    
}
#container2 img{
width:300px;
    
   
    
}
#container2 p{
    padding:5px;
}
#head2{
    /* border:1px solid red; */
    width:95%;
    margin:auto;
    margin-top:30px;
}
 #container2 button{
    position:absolute;
   scroll-behavior: smooth;
    padding:5px;
    top:1450px;
    color:grey;
    font-size:30px;
    cursor: pointer; 
    border: transparent;
    background-color: transparent
   
} 
#container2 button:nth-child(1){
    left:0px;
}
#container2 button:nth-child(2){
    right:0px;
}
/* About the location */
#about{
    /* border:1px solid red; */
    width:95%;
    margin:auto;
    padding: 10px;
    word-spacing: 15px;
    line-height: 25px;
    

}
#about>p{
    margin:10px;
    word-spacing: 15px;
line-height: 25px;
    
}
#faq{
    width:95%;
    margin:auto;
    word-spacing: 10px;
    line-height: 25px;
    margin-bottom: 80px;
}
.heading{
    width:95%;
    margin:auto;
    margin-top:30px;
}
#map{
    width:95%;
    /* border:1px solid red; */
    margin:auto;
    
}